
@import "partials/footer";
$header-background-color: white;
$heading-color: rgb(125, 175, 190);
$description-title-color: rgb(255, 255, 255);
$default-text-color: rgb(53, 53, 63);
$background-color-1: rgb(55, 154, 184);
$background-color-2: rgb(125, 175, 190);
$round-border: 10px;
$text-left-padding: 10px;
$title-font: 'Pacifico', cursive; 
$body-font: 'Oswald', sans-serif;
body {
    box-sizing: border-box;
    font-family: $body-font;
    
    header {
        text-align: center;
        margin-bottom: 90px;
        font-size: 20px;
        h1 {
            font-family: $title-font;
            font-size: 50px;
            color: $heading-color;
            margin-bottom: 0;
        }
    }

    .main-content {
        margin: 40px 30% 40px 30%;
        width: 40%;
        .description-title {
            font-size: 26px;
            background-color: $background-color-1;
            color: $description-title-color;
            padding-left: $text-left-padding;
            line-height: 55px;
            border-radius: $round-border;
            transition: 0.3s;
            margin-top: 2px;
            margin-bottom: 2px;
            &:hover {
                background-color: $background-color-2;
                cursor: pointer;
            }
        }
        .expand-collapse{
                float: right;
                margin-right: 8px;
            }
        .description {
            font-size: 18px;
            color: $default-text-color;
            max-height: 0;
            overflow: hidden;
            margin-left: 0px;
            padding-left: $text-left-padding;
            transition: max-height 0.2s ease-out;
            p {
                margin-top: 4px;
            }
    }
    }
}